h1 {
    text-align: center;
}

.kleur {
    background-color: chocolate;
}

div.kleur {
    background-color: gold;
    border: 5px dotted green;
    padding: 20px;
}

p {
    border: 5px dotted red;
    padding: 5px;
    }